In [0]:
-- Set the active schema to strata_lab
USE SCHEMA strata_lab;

In [0]:
-- Drop the employees table if it exists, then create a new one
DROP TABLE IF EXISTS employees;

CREATE TABLE IF NOT EXISTS employees
(
  id INT,
  name STRING,
  salary DOUBLE
);

In [0]:
-- Insert sample employee records into the employees table
INSERT INTO employees
VALUES
(1, "Adam", 3500.0),
(2, "Sarah", 4020.5);

INSERT INTO employees
VALUES
(3, "John", 2999.3),
(4, "Thomas", 4000.3);

INSERT INTO employees
VALUES
(5, "Anna", 2500.0);

INSERT INTO employees
VALUES
(6, "Kim", 6200.3);

In [0]:
-- Display all records from the employees table
SELECT * FROM employees;

In [0]:
-- Show detailed metadata for the employees table
DESCRIBE DETAIL employees;
-- No tenemos acceso a la ubicacion de estos archivos en la free edition

In [0]:
-- Increase salary by 100 for employees whose name starts with 'A'
UPDATE employees
SET salary = salary + 100
where name LIKE 'A%';

In [0]:
-- Display all records from the employees table after salary update
SELECT * FROM employees;

In [0]:
-- Show the change history for the employees table
DESCRIBE HISTORY employees;

In [0]:
-- (Empty cell, no code)